#container {
  width: 100%;
  max-width: 960px;
  border: 1px dotted red; /* Mona aime les pointillés */
  border-radius: 3px;
  margin: 20px auto 0 auto;
  padding: 15px;
}

.container-btn, .container-score {
  border: 1px dotted green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-score {
  border: 1px dotted blue;
}

.autoclic,.multiplicateur,.bonus{
  height: 200px; /*permet d'obtenir un rond*/
  width: 200px;/*permet d'obtenir un rond*/
  color : #FFFFFF;
  border-radius: 100%;
  padding: 2px solid red;
  margin: 3px 4px;
  font-size: 20px;
  font-family: 'Faster One', cursive;
  background-image: linear-gradient(#FFFFFF, #FFA500, #FF8C00, #FF7F50, #FF6347, #FF4500);/*ajout degradé interieur bouton*/
  box-shadow: 5px 10px 8px #888888; /*ajout d'une ombre aux boutons */
}
