body{
	padding: 20px;
	font-family: arial;
	}
#container {
  width: 100%;
  max-width: 960px;
  border-radius: 3px;
  margin: 20px auto 0 auto;
  padding: 15px;
}

.container-btn, .container-score {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-score {
	background-color: #a9a9a9;
	border-radius: 5px;

}
.btn-primary{
  background-color: #993333;
    border: 2px solid #993333;

}
.btn-green{
  background-color: #0e6815;
    border: 5px solid #0b5711;
}
.btn-yeallow{
  border: 2px solid #771b1b;
  background-color: #993333;
}
.btn {
  height: 100px;
  width: 100px;
  padding: 10px;
  font-size: 12px;
  font-weight: 100;
  margin: 20px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 0px 5px #5e5e5e;
  
}
.btn:hover{
  background-color: #5e0e0e;
}
.btn:active{
    box-shadow: 1px 0px 2px #b1b1b1;
}
.btn-green:hover{
  background-color: #084a0d;
}
#affichage{
	font-size: 50px;
	color: #ffffff;
}
#echo_chrono, #autoclic, #multiplicateur, #clic{
	font-size: 15px;
}
#tower{
	width: 850px;
	margin-bottom: 50px;
	position: absolute;
}